@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  background-color: #efefef;
}

main {
  min-height: 100vh;
}

header {
  background-color: rgb(44, 64, 142);
  padding: 16px 120px;
}

header input {
  height: 3em;
  width: 100%;
  padding: 1em 60px;
  border-radius: 10px;
  font-size: 18px;
}

header box-icon {
  display: flex;
  position: absolute;
  margin: 10px 0 0 16px;
  fill: rgb(130, 130, 130);
  cursor: pointer;
}

#tarefas {
  padding: 3em;
}

#tarefas h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
}

#tarefas h2 button {
  height: 46px;
  background-color: rgb(44, 64, 142);
  color: white;
  text-transform: uppercase;
  padding: 0 2em;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: .75px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}

#tarefas h2 button:hover {
  background-color: rgb(32, 47, 104);
}

#tarefas h6 {
  text-align: center;
  font-size: 24px;
  color: rgb(130, 130, 130);
  font-weight: 500;
}

#naoRegistrada {
  display: none;
}

#tarefas ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 36px;
}

#tarefas ul li {
  width: calc(25% - 12px);
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px #00000015;
  display: initial;
}

#tarefas ul li.oculto {
  display: none;
}

#tarefas ul li h5 {
  font-size: 16px;
  margin-bottom: 16px;
}

#tarefas ul li p {
  text-align: justify;
}

#tarefas ul li .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  cursor: pointer;
  fill: rgb(130, 130, 130);
}

#tarefas ul li .actions box-icon:hover {
  fill: rgb(44, 64, 142);
}

#overlay {
  background-color: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition-duration: 200ms;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 400px;
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition-duration: 200ms;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal form h3 {
  font-size: 24px;
  color: rgb(130, 130, 130);
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal form h3 box-icon {
  fill: rgb(130, 130, 130);
  cursor: pointer;
}

.modal form h3 box-icon:hover {
  fill: rgb(44, 64, 142);
}

.modal form label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .75px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.modal form input,
.modal form textarea {
  width: 100%;
  height: 46px;
  border: 2px solid #dedede;
  border-radius: 10px;
  margin-bottom: 16px;
  padding-left: 10px;
  transition-duration: 200ms;
}

.modal form input:focus,
.modal form textarea:focus {
  border-color: rgb(98, 114, 175);
}

.modal form textarea {
  padding-top: 10px;
  height: 120px;
  resize: vertical;
}

.modal form button {
  width: 100%;
  height: 46px;
  background-color: rgb(44, 64, 142);
  color: white;
  text-transform: uppercase;
  padding: 0 2em;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .75px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}

.modal form button:hover {
  background-color: rgb(32, 47, 104);
}

footer {
  background-color: rgb(44, 64, 142);
  color: white;
  padding: 1.7em;
  text-align: center;
}

@media (max-width: 900px) {
  #tarefas ul li {
    width: calc(50% - 12px);
  }
}

@media(max-width: 600px) {
  #tarefas ul li {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #tarefas h2 button {
    margin-top: 10px;
    align-self: flex-end;
  }

  #tarefas h2 {
    flex-direction: column;
    align-items: flex-start;
  }
}